body {
    padding: 0px;
}
#puzzleContainer {
    border-style: solid;
    border-width: 2px;
    border-color: red;
    width: 700px;
    height: 700px;
    margin-left: 35%;
    padding: 5px;
    display:grid;
    grid-template-columns: repeat(4, 25%);
}
.gameBtn {
    padding: 0px;
    font-size: 20px;
    background-size: 700px 700px;
    background-position: top left;
    background-repeat: no-repeat;
    background-clip: content-box;
}