body {
    background-repeat: no-repeat;
    background-size: 100%;
}
.navbar-item-selected {
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
/* Google font */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
/* fontaweson */
.fork-icon {
    color: black;
    font-size: 19px;
    margin-right: 12px;
    margin-left: 12px;
}
.message-banner {
    position: absolute; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 48px;
}
#welcomeLabel {
    top: 20%; 
    left: 50%; 
}
#hiringLabel {
    color: white; 
    font-size: 48px;
}
#menuBtnContainer {
    position: absolute;
    top: 55%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.transparent-bg {
    background-color: rgba(0, 0, 0, 0.6); /* 60% transparent black */
}
.form-container {
    max-width: 30%; /* 80% width */
    margin: auto; /* Center the container */
} 